* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0080ff;
}

.rating-container {
  text-align: center;
  padding: 40px 30px;
  border: 1px solid #ddd;
  width: 400px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.stars {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  cursor: pointer;
  margin: 15px;
}

.star {
  transition: color 0.2s ease-in-out;
  color: #ccc;
}

.star.active {
  color: gold;
}

.submit-btn {
  background-color: #0080ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.submit-btn:hover {
  background-color: #005bb5;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  width: 200px;
  height:200px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.close-btn {
  background-color: #f44336;
  color: white;
  border: none; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
} 

.feedback {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
